input[type=submit] {
    border-radius: 10px;
    background: beige;
}

body {
 background-color: #333300;
 color: #333300;
}

h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}