<!DOCTYPE html>
<html>
<title>Database Systems</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

  <div style="margin-bottom:40px" class="w3-black w3-center w3-padding-24">Movies Team</div>
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q1" target="_blank">
      <img src="{{ url_for('static',filename='assets/img/Avengers.jpg') }}" alt="Avengers" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 1</b></h2>
        <p>Presents all relevant movies by genre and release date</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q2" target="_blank">
      <img src="../static/assets/img/captain.jpeg" alt="captain" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 2</b></h2>
        <p>Presents a rank of all spoken language</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q3" target="_blank">
      <img src="../static/assets/img/IronMan.jpg" alt="antMan" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 3</b></h2>
        <p>Presents for each production company in the country selected the genre it specializes in</p>
      </div>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q4" target="_blank">
      <img src="../static/assets/img/SpiderMan.jpg" alt="SpiderMan" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 4</b></h2>
        <p>Presents for each production company and for each genre it produced the average votes of all movies in the corresponding genre</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q5" target="_blank">
      <img src="../static/assets/img/Thor.jpg" alt="Thor" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 5</b></h2>
        <p>Presents all relevant movies by release date and text that matches against the title or overview of the movie (Can be both)</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q6" target="_blank">
      <img src="../static/assets/img/antMan.jpg" alt="IronMan" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 6</b></h2>
        <p>Presents the Number of movies in every language, given a range of budgets</p>
      </div>
    </div>
  </div>

    <!-- third Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/q7" target="_blank">
      <img src="../static/assets/img/Hulk.jpg" alt="Hulk" style="width:100%" class="w3-hover-opacity" >
        </a>
      <div class="w3-container w3-white">
        <h2><b>Query 7</b></h2>
        <p>Presents all relevant movies by genre, runtime range in minutes, languages</p>
      </div>
    </div>
  </div>

  <div class="w3-black w3-center w3-padding-24">Movies Team</div>

<!-- End page content -->
</div>
</body>
</html>

