<!DOCTYPE html>
<html lang="en">
<head>
  <title>Query1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles1.css">

</head>

<body>

<div class="container">
    <h2 > Get all relevant movies by genre and release date </h2>


      <p class="lead"> Enter a genre and the release date range to receive a list of all movies in the specific genre that were released in the range selected.
          The result will be sorted from the newest released movies to the oldest. Also, add a limit to the output. You will receive the limited amount of rows at most
          (or less if the limit exceeds the output)
           </p>
    <form action="/q1-output" method="post">
    <div class="row">
      <div class="form-group">
      <div class="col-md-12 ">
            <label for="year1">Select the movie genre:</label>

                  <input type="text" id="genres" name="genres" list="genre-list" placeholder="Choose a genre">
                   <datalist id="genre-list">
                          {% for genre in genres %}
                              <option value="{{genre[0]}}"> {{ genre[0] }}</option>
                          {% endfor %}
                    </datalist>
       </div>
      </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-11">
          <label for="example-date-input" >From</label>
         <input class="form-control" type="date" value="2012-08-20" name="from">
          </div>
        </div>

        <div>
            <div class="col-md-11">
          <label for="example-date-input" >Until</label>

            <input class="form-control" type="date" value="2012-08-20" name="to">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
            <label for="amount">Enter the number of movies to be returned:</label>

            <input class="form-control " name="limit" placeholder="amount" autocomplete="off">
            </div>
        </div>
    </div>
        <div class="form-group">
            <button class="btn btn-outline-info btn-block">Submit</button>
         </div>
        </form>
</div>


<div class="container mt-2">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-outline-warning" href="/index" role="button">Home Page</a>
    </div>
  </div>
</div>

</body>
</html>
