<!DOCTYPE html>
<html lang="en">
<head>
  <title>Query7</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles1.css">

</head>

<body>

<div class="container">
    <h2 > ########### </h2>


      <p class="lead"> ######3 </p>
    <form action="/q7-output" method="post">
    <div class="row">
      <div class="form-group">
      <div class="col-md-12 ">
            <label for="year1">Select the movie genre:</label>

                  <input type="text" id="genres" name="genres" list="genre-list" placeholder="Choose a genre">
                   <datalist id="genre-list">
                          {% for genre in genres %}
                              <option value="{{genre}}"> {{ genre }}</option>
                          {% endfor %}
                    </datalist>
       </div>
      </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-11">
          <label for="example-date-input" >From</label>
         <input class="form-control" type="date" value="2012-08-20" name="runtime_from">
          </div>
        </div>

        <div>
            <div class="col-md-11">
          <label for="example-date-input" >Until</label>

            <input class="form-control" type="date" value="2012-08-20" name="runtime_to">
          </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="col-md-11">
          <label for="language1" >language1</label>
         <input class="form-control" type="text"  name="language1">
          </div>
        </div>

        <div>
            <div class="col-md-11">
          <label for="language2" >language2</label>

            <input class="form-control" type="text"  name="language2">
          </div>
        </div>
    </div>
        <div class="form-group">
            <button class="btn btn-outline-info btn-block">Submit</button>
         </div>
        </form>
</div>


<div class="container mt-2">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-outline-warning" href="/index" role="button">Home Page</a>
    </div>
  </div>
</div>

</body>
</html>
